<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <form class="form-horizontal" method="post" th:action="@{/loginUser}">
        <h2 class="form-title">Welcome to China !</h2>
        <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
          <div class="col-sm-10">
              <input type="text" name="username" class="form-control" placeholder="请输入用户名" required autofocus>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
          <div class="col-sm-10">
              <input type="password" name="password" class="form-control" placeholder="请输入密码" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label class="form-remember"><input type="checkbox" > 记住我</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default btn-signin">登录</button>
            <a type="button" class="btn btn-default btn-signup" th:href="@{/toRegister}">注册</a>
          </div>
        </div>
    </form>
</body>

<script>
  $(function(){
    document.onkeydown = function(event) {
    var target, code, tag;
    if (!event) {
      event = window.event; //针对ie浏览器
      target = event.srcElement;
      code = event.keyCode;
      if (code == 13) {
          tag = target.tagName;
          if (tag == "TEXTAREA") { return true; }
          else { return false; }
      }
    } else {
      target = event.target; //针对遵循w3c标准的浏览器，如Firefox
      code = event.keyCode;
      if (code == 13) {
          tag = target.tagName;
          if (tag == "INPUT") { return false; }
          else { return true; }
      }
    }
    };
  })
</script>
</html>
